.detailedDiv {
    display: flex;
    /* width: 300px; */
    /* outline: 1px solid teal; */

}
.btn {
    margin-top: 10px;
    margin-bottom: 20px;
}
.image {
    display: block;
    margin-bottom: 25px;
}
.description {
    width: 500px;
    margin-left: 50px;
    /* outline: 1px solid tomato; */
}
.title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.imgActor {
width: 100px;
/* height: 50px; */
}
.wrapActor {
    display: flex;
    flex-direction: row;
}
.wrapper {
    display: block;
    width: 1000px;
    margin-top: 25px;
}
.actorName{
    display: block
}